<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium">
        Student
    </h2>
</div>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 lg:col-span-6">
        <!-- BEGIN: Input -->
        <div class="intro-y box">
            <form #myForm="ngForm" (ngSubmit)="onSubmitForm()">
                <div class="p-5" id="input">
                    <div class="preview">
                        <div>
                            <label>Name</label>
                            <div class="p-5" id="inline-form" style="padding-left: 0px;padding-right: 0px;">
                                <div class="preview">
                                    <div class="grid grid-cols-12 gap-2">
                                        <div class="mt-2 col-span-6">
                                            <input type="hidden" name="id" [(ngModel)]="student.id" />
                                            <input type="text" class="input w-full border col-span-6" placeholder="Input First Name" name="firstName" required [(ngModel)]="student.firstName " #firstName="ngModel">
                                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="text-theme-6 mt-2">First Name is required</div>
                                        </div>
                                        <div class="mt-2 col-span-6">
                                            <input type="text" class="input w-full border col-span-6" placeholder="Input Last Name" name="lastName" required [(ngModel)]="student.lastName " #lastName="ngModel">
                                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="text-theme-6 mt-2">Last Name is required</div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 gap-2">
                            <div class="mt-2 col-span-6">
                                <label>Class</label>
                                <div>
                                    <select class="inline input border mr-2 mt-2 w-full" [(ngModel)]="student.claass.id" (ngModelChange)="onClassChange($event)" required name="class" #class="ngModel">
                                    <option hidden value="undefined">Select Class</option>
                                    <option *ngFor="let c of classes" [value]="c.id">{{c.name}}</option>
                                </select>
                                    <div *ngIf="class.invalid && (class.dirty || class.touched)" class="text-theme-6 mt-2">Class is required</div>

                                </div>

                            </div>
                            <div class="mt-2 col-span-6">
                                <label>Section</label>
                                <select class="inline input border mr-2 mt-2 w-full" [(ngModel)]="student.section.id" name="section" #section="ngModel">
                                <option disabled value="undefined">Select Section</option>
                                <option *ngFor="let s of sections" [value]="s.id">{{s.name}}</option> 
                            </select>
                                <div *ngIf="section.invalid && (section.dirty || section.touched)" class="text-theme-6 mt-2">Section is required</div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <label>Contact</label>
                            <input type="number" pattern="\d{10}" class="input w-full border mt-2" placeholder="Input Phone Number" name="phoneNumber" required [(ngModel)]="student.phoneNumber " #phoneNumber="ngModel">
                            <div *ngIf="phoneNumber.errors?.required && (phoneNumber.dirty || phoneNumber.touched)" class="text-theme-6 mt-2">Phone Number is required</div>
                            <div *ngIf="phoneNumber.errors?.pattern && (phoneNumber.dirty || phoneNumber.touched)" class="text-theme-6 mt-2">Phone Number must be 10 digits</div>
                        </div>
                        <div class="mt-2">
                            <label>Address</label>
                            <textarea class="input w-full border mt-2" placeholder="Input Address" name="address" required [(ngModel)]="student.address " #address="ngModel"></textarea>
                            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-theme-6 mt-2">Address is required</div>
                        </div>

                    </div>
                    <div class="text-right mt-5">
                        <button type="button" class="button w-24 border text-gray-700 mr-1" (click)="resetForm()">Cancel</button>
                        <button type="submit" class="button w-24 bg-theme-1 text-white" [disabled]="!myForm.valid">{{edit==true?'Update':'Save'}}</button>
                    </div>
                </div>

            </form>

        </div>

    </div>
    <div class="col-span-12  mt-6 lg:mt-0 lg:col-span-6">
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-no-wrap items-center mt-2 lg:mt-0">
            <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0" style=" width: 100%;">
                <div class=" relative text-gray-700">
                    <input type="text" class="input box pr-10 placeholder-theme-13" placeholder="Search..." style="width: 100%;height: 45px;" [(ngModel)]="searchTxt">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                </div>
            </div>
        </div>
        <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0 tablediv">
            <table class="table table-report sm:mt-2">
                <thead>
                    <tr>
                        <th class="whitespace-no-wrap">NAME</th>
                        <th class="text-center whitespace-no-wrap">CLASS</th>
                        <th class="text-center whitespace-no-wrap">CONTACT</th>
                        <th class="text-center whitespace-no-wrap">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="intro-x" *ngFor="let s of students | search:searchTxt">
                        <td>
                            <a class="font-medium whitespace-no-wrap cursor" (click)="fetchOne(s.id)">{{s.firstName}} {{s.lastName}} </a>
                            <div class="text-gray-600 text-xs whitespace-no-wrap truncate" style="width: 5.5rem;">{{s.address}}</div>
                        </td>
                        <td class="text-center cursor" (click)="fetchOne(s.id)">{{s.claass.name}} {{s.section.name}}</td>
                        <td class="text-center cursor" (click)="fetchOne(s.id)">{{s.phoneNumber}}</td>

                        <td class="table-report__action w-56">
                            <div class="flex justify-center items-center">
                                <a class="flex items-center mr-3 cursor" (click)="fetchOne(s.id)"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-1"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>                                    Edit </a>
                                <a class="flex items-center text-theme-6 cursor" (click)="deleteOne(s.id)"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 w-4 h-4 mr-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>                                    Delete </a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="jq-toast-wrap bottom-right">
        <div class="jq-toast-single success-toast" style="text-align: left;" *ngIf="successToast == true"><span class="jq-toast-loader"></span><span class="close-jq-toast-single" (click)="closeToast()">×</span> {{toastMessage}} </div>
    </div>
    <div class="jq-toast-wrap bottom-right">
        <div class="jq-toast-single error-toast" style="text-align: left;" *ngIf="failureToast ==true"><span class="jq-toast-loader"></span><span class="close-jq-toast-single" (click)="closeToast()">×</span> {{toastMessage}} </div>
    </div>
</div>