<div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
        <a href="default.htm" class="flex mr-auto">
            <img alt="Hilltop Educational Institute" class="w-6" src="assets/dist/images/logo.svg">
        </a>
        <a href="javascript:;" id="mobile-menu-toggler"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2 w-8 h-8 text-white transform -rotate-90"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>            </a>
    </div>
    <ul class="border-t border-theme-24 py-5 hidden" style="display: block;">

    </ul>
</div>