<div class="login loading">
    <div class="container sm:px-10">
        <div class="block xl:grid grid-cols-2 gap-4">
            <!-- BEGIN: Login Info -->
            <div class="hidden xl:flex flex-col min-h-screen">
                <a routerLink="/login" class="-intro-x flex items-center pt-5 cursor-pointer">
                    <img alt="Hilltop Educational Institute" class="w-6" src="assets/dist/images/logo.svg">
                    <span class="text-white text-lg ml-3"> Hill<span class="font-medium">Top</span> </span>
                </a>
                <div class="my-auto">
                    <img alt="Hilltop Educational Institute" class="-intro-x w-1/2 -mt-16" src="assets/dist/images/teacher.png">
                    <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
                        Welcome to <br> Hilltop Educational Institute

                    </div>
                    <div class="-intro-x mt-5 text-lg text-white">Please sign in to continue......</div>
                </div>
            </div>
            <!-- END: Login Info -->
            <!-- BEGIN: Login Form -->
            <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                <div class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                    <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                        Sign In
                    </h2>
                    <div class="intro-x mt-2 text-gray-500 xl:hidden text-center">Welcome to Hilltop Educational Institute<br>Please sign in to continue</div>
                    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="intro-x mt-8">
                            <input type="text" [(ngModel)]="user.username" name="username" #uname="ngModel" required class="intro-x login__input input input--lg border border-gray-300 block" placeholder="Username">
                            <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="text-theme-6 mt-2">Please enter Username</div>
                            <input type="password" [(ngModel)]="user.password" name="password" #pwd="ngModel" required class="intro-x login__input input input--lg border border-gray-300 block mt-4" placeholder="Password">
                            <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="text-theme-6 mt-2">Please enter Password</div>
                        </div>
                        <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                            <button type="submit" class="button button--lg w-full  text-white bg-theme-1 xl:mr-3" [disabled]="!myForm.valid">Login</button>
                        </div>
                    </form>

                </div>
            </div>
            <!-- END: Login Form -->
        </div>
    </div>
    <!-- BEGIN: JS Assets-->
    <!-- END: JS Assets-->
    <div class="jq-toast-wrap bottom-right">
        <div class="jq-toast-single error-toast" style="text-align: left;" *ngIf="errorToast ==true"><span class="jq-toast-loader"></span><span class="close-jq-toast-single" (click)="closeToast()">×</span> {{toastMessage}} </div>
    </div>
    <div class="jq-toast-wrap bottom-right">
        <div class="jq-toast-single" style="text-align: left;" *ngIf="loadingToast ==true"><span class="jq-toast-loader"></span><span class="close-jq-toast-single" (click)="closeToast()">×</span> {{toastMessage}}
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin-left: 3rem; background: rgb(14, 44, 136); display: inline; shape-rendering: auto;" width="30px" height="30px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <circle cx="50" cy="50" r="32" stroke-width="8" stroke="#ffffff" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
                  <animateTransform attributeName="transform" type="rotate" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
                </circle>
                <circle cx="50" cy="50" r="23" stroke-width="8" stroke="#ffffff" stroke-dasharray="36.12831551628262 36.12831551628262" stroke-dashoffset="36.12831551628262" fill="none" stroke-linecap="round">
                  <animateTransform attributeName="transform" type="rotate" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="0 50 50;-360 50 50"></animateTransform>
                </circle>
                </svg>
        </div>
    </div>
</div>