<div class="app">
    <!-- BEGIN: Mobile Menu -->
    <app-mobile-menu></app-mobile-menu>
    <!-- END: Mobile Menu -->
    <div class="flex">
        <!-- BEGIN: Side Menu -->
        <app-menu></app-menu>
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            <!-- BEGIN: Top Bar -->
            <app-top-bar></app-top-bar>
            <router-outlet></router-outlet>
            <!-- END: Top Bar -->
        </div>
        <!-- END: Content -->
    </div>

</div>